.main-footerPK {
    color: #999999;
    background-color: #212529;
    padding-top: 0.3em;
    font-size: 1em;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
}

.copyright {
    display: flex;
    font-size: 0.7em;
    justify-content: center;
    align-items: center;
}

.footer-links {
    font: 0.8em 'Times New Roman', sans-serif; /* Шрифт 0.7em Times New Roman */
    display: grid; /* Выводим в виде сетки */
    grid-template-columns: repeat(4, 1fr); /* Количество столбцов в сетке */
    text-align: center; /* Выравнивание текста по центру */
    /* box-shadow: 0 0 4px 4px rgba(0, 255, 255, 0.3); Получаем тень */
    margin: 0px 0px 0px 0px; /* Отступы сверху | справа | снизу | слева */
}


