:root{
    --x-pos: 0%;
    --y-pos: 0%;
    --angle: 0deg;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gabriela';
    background: #3c3f41;
}


.grid4x4{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.grid_map{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(13, 1fr);
    position: relative;
}

.map{
    grid-column: 5 / 17;
    grid-row: 1 / 14;
    background: #3c3f41;
    box-shadow: 0 0 4px 4px rgba(0, 255, 255, 0.3);
}

.robot_xy{
    grid-column: 5 / 17;
    grid-row: 1 / 14;
    position: absolute;
    color: #00FF00;
    top: var(--y-pos);
    left: var(--x-pos);;
    transform: rotate(var(--angle));
}



.robot_position{
    grid-column-start: 12;
    grid-column-end: 15;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    position: relative;
    color: #DDDDDD;
}

.theta_chart{
    grid-column-start: 12;
    grid-column-end: 15;
    grid-row-start: 5;
    grid-row-end: 8;
    text-align: center;
    position: relative;
    color: #DDDDDD;
}

.battery{
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row-start: 2;
    grid-row-end: 6;
    text-align: center;
    position: relative;
}

.battery_info{
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row-start: 6;
    grid-row-end: 10;
    text-align: center;
    position: relative;
    color: #DDDDDD;
    font-size: 1.1em;
}

.charging{
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row-start: 11;
    grid-row-end: 14;
    margin-top: 30px;
    text-align: center;
    position: relative;
    color: #DDDDDD;
    font-size: 1.1em;
    box-shadow: 0 0 4px 4px rgba(0, 255, 255, 0.3);
}

.left_speed{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    text-align: center;
    position: relative;
}

.right_speed{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 6;
    text-align: center;
    position: relative;
}

.left_fin{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 9;
    text-align: center;
    position: relative;
}

.right_fin{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 9;
    text-align: center;
    position: relative;
}

.center_battery{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DDDDDD;
    font-size: 1em;
    font-weight: bold;
}

.center_fin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DDDDDD;
    font-size: 1.3em;
    font-weight: bold;
}

.center_speed {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DDDDDD;
    font-size: 1em;
    font-weight: bold;
}

.green_text{
    color: #00FF00;
}